/* main */
.button_complete_task {

    cursor: pointer;

    width: 30px;
    height: 30px;

    padding: 0;

    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    
    color: var(--disabled-task-color);
    text-align: center;

}
.button_is_priority {
    border-width: 2px;
    border-color: var(--main-task-color);
}
.button_is_complete {
    background-color: var(--secondary-background-color);
}