/* main */
.button_complete_task {

    cursor: pointer;

    width: 20px;
    height: 20px;

    padding: 0;

    background-color: var(--primary-backgound-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    
    color: var(--primary-backgound-color);
    text-align: center;

}