/* tag-container */
#tag-container {
    margin: 10px 0 20px;
    display: flex;
}
#tag-container > span {

    margin-right: 8px;

    border-radius: 20px;

    padding: 10px 15px;

}
#tag-container > span:not([class], [id]) {
    background-color: var(--secondary-background-color);
    color: var(--primary-background-color);
}
#tag-container > span:last-child {
    margin-right: 0;
}

/* tag priority */
.tag-priority {
    background-color: var(--priotiry-task-color);
}