.button_add_task {
    
    width: 100px;
    margin: 5px auto;
    border-radius: 10px;

    box-sizing: border-box;
    padding: 10px;

    background-color: var(--primary-background-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);

    cursor: pointer;

    transition: background-color .3s linear, color .3s linear;

}