/* main */
.button_remove_task {

    cursor: pointer;

    width: 2em;
    height: 2em;

    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 50%;

    text-align: center;
    font-size: 1.25em;
    line-height: 1.5em;
    color: var(--primary-color);

}