.task,
.shadow_task {

    border: 1px solid black;
    border-radius: 10px;

    height: 45px;

    background-color: grey;

    box-sizing: border-box;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

}
.shadow_task {
    background-color: black;
}

.task_text {

    display: block;
    width: 90%;
    margin: 0 10px;

    font-size: 1em;

}

.task_button_state {

    width: 20px;
    height: 20px;

    border-radius: 50%;

}

.button_task_delete {
    position: relative;
    border: none;
    width: 30px;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.button_task_delete:before,
.button_task_delete:after {
    content: "";
    background-color: black;
    position: absolute;
    width: 20px;
    height: 2px;
    border-radius: 1px;
}

.button_task_delete:after {
    transform: rotate(45deg);
}

.button_task_delete:before {
    transform: rotate(-45deg);
}

.moving_task {
    position: absolute;
    cursor: pointer;

    z-index: 5;
}

.task_drop_zone {
    border-radius: 10px;
    background-color: black;
    width: 100%;
    display: block;
    margin: 5px 0;
}