.description-task {

    width: 100%;

    min-height: 1em;
    max-height: 8em;

    font-family: Montserrat-Alternates;
    line-height: 1.5em;

    color: var(--primary-color);
    background-color: var(--primary-backgound-color);

    resize: none;
    border: none;
    outline: none;

}