:root {
    
    --primary-color: black;
    --primary-backgound-color: white;
    
    --disabled-task-color: #A3A3A3;
    --secondary-background-color: #E7E7E7;
    --main-task-color: red;
    --priotiry-task-color: #f18f8f;

}