#task_container {

    border: 1px solid black;
    border-radius: 20px;

    box-sizing: border-box;
    padding: 0 10px;

    overflow-x: hidden;

    height: 240px;
    margin: 15px 0;

    position: relative;

}

#task_container div:first-child {
    margin: 10px 0 5px;
}
#task_container div:last-child {
    margin: 5px 0 10px;
}