/* main */

/* task */
/* always */
.task,
.shadow_task {

    border-radius: 25px;

    height: 60px;

    box-sizing: border-box;
    padding: 0 10px;

    display: flex;
    align-items: center;
    justify-content: left;

}

/* task --- */
.task {
    border: 1px solid;
    cursor: pointer;
    z-index: 1;
    /* top: 0px; */
    /* width: 100%; */
}
.task > p {
    width: 100%;
    margin-left: 10px;
}
/* .task input { border: none; } */

/* disabled - меняет только цвет */
.disabled_task {
    color: var(--disabled-task-color);
    border-color: var(--disabled-task-color);
}
.disabled_task > button {
    border-color: var(--disabled-task-color);
}

/* enabled - менят только цвета */
.enabled_task {
    border-width: 1px;
    border-color: var(--primary-color);
    background-color: var(--primary-backgound-color);
}

/* SHADOW_TASK */
.shadow_task {
    background-color: var(--disabled-task-color);
}

.moving_task {
    position: absolute;
    z-index: 10;
    box-shadow: 0 0 5px .5px,;
}

.task_drop_zone {
    border-radius: 10px;
    background-color: black;
    width: 100%;
    display: block;
    margin: 5px 0;
}























/* .task_text {

    display: block;
    width: 90%;
    margin: 0 10px;

    font-size: 1em;

} */

/* .task_button_state {

    width: 20px;
    height: 20px;

    border-radius: 50%;

}

.button_task_delete {
    position: relative;
    border: none;
    width: 30px;
    display: flex;
    align-items: center;
    background-color: transparent;
} */

/* .button_task_delete:before,
.button_task_delete:after {
    content: "";
    background-color: black;
    position: absolute;
    width: 20px;
    height: 2px;
    border-radius: 1px;
}

.button_task_delete:after {
    transform: rotate(45deg);
}

.button_task_delete:before {
    transform: rotate(-45deg);
} */

