.task-title {

    width: 100%;

    min-height: 1em;
    max-height: 4em;

    font-size: 2em;
    line-height: 1.25em;

    color: var(--primary-color);
    background-color: var(--primary-backgound-color);

    border: none;
    outline: none;
    resize: none;

}