.task_title {

    width: 100%;

    min-height: 1em;
    max-height: 4em;

    font-size: 2em;
    margin: 15px 0 20px;

    border: none;
    outline: none;
    resize: none;

    color: var(--primary-color);
    background-color: var(--primary-backgound-color);

}

.task_description {

    font-size: 1em;
    margin: 10px 0;

}