.button {

    cursor: pointer;

    background-color: var(--primary-backgound-color);
    
    color: var(--primary-color);
    text-transform: capitalize;

    border: 1px solid var(--primary-color);
    border-radius: 10px;

    box-sizing: border-box;
    padding: 10px 15px;

    transition: transform .1s linear;

}
.button:active {
    transform: translate(0, 3px);
}