/* main ===================================================== */
.button-complete-task {
    
    cursor: pointer;

    padding: 0 9px;

    width: 20px;
    height: 20px;
    padding: 0 5px;

    background-color: var(--primary-backgound-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;

    color: var(--disabled-task-color);
    text-align: center;

}

.button-complete-task:hover {
    background-color: var(--secondary-background-color);
}

/* button complete is complete ------------------------------ */
.button-complete {
    padding: 0 2.5px;
    background-color: var(--secondary-background-color);
}

.button-complete:before {
    content: "✓";
    color: var(--disabled-task-color);
}

/* button is priority --------------------------------------- */
.button-priority {
    border-color: var(--priotiry-task-color);
}