/* import ================================================= */
@import "../styles/app/App.css";
@import "../styles/button/index.css";

/* main =================================================== */
body {

    height: 70vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: grey;

    color: black;
    font-size: 16px;

}
#root {

    margin: 50PX auto;
    display: block;
    width: 1000px;

}