/* action window wrapper ------------------------------------ */
.action-window__wrapper {

    margin: 0 auto;

    border: 1px solid var(--primary-color);
    border-radius: 20px;

    box-sizing: border-box;
    padding: 35px;

}

/* action window header ------------------------------------- */
.action-window__header {

    width: 100%;

    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;

}
.action-window-name {
    font-size: 1.5em;
}

/* action window main --------------------------------------- */
.action-window__main {
    margin-top: 10px;
}

/* adaptation screen ---------------------------------------- */
@media screen and (min-width: 540px) {
    .action-window__wrapper {
        width: 600px;
    }
}
@media screen and (max-width: 540px) {
    .action-window__wrapper {
        width: 100%;
        height: 100%;
    }
}